# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Python distribution / packaging
build/
develop-eggs/
dist/
*.egg-info/
.eggs/

# Log files
*.log

# Environment variable files (secrets)
.env
.env.*

# Coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Profiling data
.prof

# PyInstaller
*.manifest
*.spec

# C extensions
*.c
*.cpp

# Jupyter runtime
.jupyter/

# System-specific trash
Thumbs.db
Week 02 - Data Manipulation/NumPy Intro/.ipynb_checkpoints/Introduction to Numpy-checkpoint.ipynb
Week 02 - Data Manipulation/NumPy Intro/.ipynb_checkpoints/Introduction to Numpy-checkpoint.ipynb
